body
{

  background: #f0c14b;;
}

span
{
  font-size: 30px;
}

#camera , #result
{
  border: 2px dashed black;
  width: 350px;
  height: 300px; 
}

#result_emotion_name ,#result_emotion_name2  
{
  color: black;
}

.emotion_name
{
  font-size: 22px;
}

.emoji
{
  font-size: 25px;
}

.heading {
  font-size: 18px;
  border-radius: 10px;
  letter-spacing: 10px;
}